@blue: #ace;
#c {
  border: 1px solid #ddd;
}

body {
  color: darken(@blue, 35%);
}

#sidebar {
  background: #eee;
  .room {
    padding: 10px;
    border-top: 1px solid @blue;
    cursor: pointer;
    &.selected {
      background: lighten(@blue, 10%);
    }
  }
  h3 {
    padding: 10px 10px 0;
    margin: 0;
  }
  #create-room {
    border-top: 1px solid @blue;
    padding: 10px 10px 0;
  }
  #new-room {
    width: 90%;
  }
}
#toolbar {
  .github-link {
    padding: 5px;
  }
  .icon {
    display: inline-block;
    margin-right: 5px;
    font-size: 42px;
  }
  .icon-play {
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    /* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=-0.5); */
    -ms-transform:rotate(-90deg);
  }
  .btn-file {
      position: relative;
      overflow: hidden;
  }
  .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 999px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }
}